*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    max-height: 100vh;
    background-color:#FFF7F0 ;
    // overflow: hidden;
}
.home{
    width: 100%;
    height: 100%;
    .home__header{
        

        .home__header__text{
            width: 70%;
            margin: auto;
            display: flex;
            align-items: center;
            flex-flow:column wrap;
            @media (min-width:768px) and (max-width:1023px){
                text-align: center;
                
            }
            .home__header__text--heading{
                font-size: 36px;
                padding: 1rem 0;
                @media (min-width:768px) and (max-width:1023px){
                    font-size: 46px;  
                }
            }
            .home__header__text--subheading{
                font-size: 12px;
                max-width: 22rem;
                font-weight: 600;
                text-align: center;
                color: gray;
                @media (min-width:768px) and (max-width:1023px){
                    font-size: 20px;  
                    max-width: 35rem;
                }
            }
        }
    }
    
}